.workers {
  width: 100%;
  padding: 20px 40px 40px 0;
}

.workers_welcome {
  color: var(--black, #0c0b0b);
  font-family: baloo-reg;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.workers_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 4rem;
}

.workers_table {
  width: 100%;
  padding: 5px 20px;
  min-height: 300px;
  border-radius: 16px;
}

.workers_table_titles {
  width: 100%;
  padding: 5px 10px;
  font-family: dm-med;
  display: flex;
  gap: 10px;
  align-items: center;
}

.workers_table_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.workers_table_title:nth-child(1) {
  width: 40px;
}

.workers_table_title:nth-child(2) {
  width: 100px;
}

.workers_table_title:nth-child(3),
.workers_table_title:nth-child(4) {
  width: 130px;
}

.workers_table_title:nth-child(5) {
  width: 150px;
}
.workers_table_title:nth-child(6) {
  width: 70px;
}

.workers_table_title:nth-child(7) {
  width: 50px;
}
.workers_table_title:nth-child(8) {
  width: 180px;
}

.workers_table_cards {
  margin-top: 20px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workers_table_card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: dm-med;
  border-radius: 9px;
  border: 1px solid var(--black, #cacaca);
  background-color: var(--grey, #f5f5f7);
  padding: 15px 0px;
  box-shadow: 0px 5px 20px 0px #f0edf6;
}