*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
@font-face {
  font-family: roboto-reg;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-med;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: baloo-reg;
  src: url(./assets/fonts/BalooBhai-Regular.ttf);
}
@font-face {
  font-family: sans-med;
  src: url(./assets/fonts/OpenSans_Condensed-Medium.ttf);
}
@font-face {
  font-family: dm-reg;
  src: url(./assets/fonts/DMSans_18pt-Regular.ttf);
}
@font-face {
  font-family: dm-med;
  src: url(./assets/fonts/DMSans_18pt-Medium.ttf);
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}