.lastprod {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.lastprod_img {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background: var(--grey, #f5f5f7);
}
.lastprod_img #lastprod_img_text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: roboto-bold;
  color: rgb(139, 139, 139);
  font-size: 12px;
}
.lastprod_num{
    font-family: roboto-med;
    color: #5a5a5a;
    font-size: 14px;
}
.lastprod_name {
  color: var(--black, #0c0b0b);
  font-family: roboto-reg;
  font-size: 14px;
}
.lastprod_price {
  color: var(--black, #0c0b0b);
  font-family: baloo-reg;
  font-size: 16px
}
